/*global*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-size: 18px;
    font-family: "Inter", sans-serif;
    color: #343a40;
  }
  
  .grid {
    
    display: grid;
    grid-template-columns: 1fr 6fr;
  }
  /*header*/
  .header {
    height: 80px;
    padding: 18px;
    background-color: #54697e;
    color: #fff;
    display: flex;
    align-items: center;
  }
  
  .cms {
    margin-left: 16px;
  }

  .cms:link,
  .cms:visited{
    text-decoration: none;
    color:#fff;
  }
  
  .actions {
    margin-left: auto;
    display: flex;
    align-items: flex-end;
    margin-right: 100px;
    gap: 32px;
  }
  
  .btn-msg {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background-color: transparent;
    border: none;
  
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .btn-msg:hover,
  .btn-msg:active {
    background-color: rgba(0, 0, 0, 0.1);
  }
  
  .icon-msg {
    height: 24px;
    width: 24px;
    color: #fff;
  }
  
  .btn-msg::after {
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 50%;
  
    position: absolute;
    top: 10%;
    right: 20%;
  
    transition: all 0.4s;
  }
  
  .btn-msg.new-msg::after {
    background-color: #f03e3e;
  }
  
  .msg-dropdown {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    position: relative;
    
  }
  
  .msg-dropdown-content {
    background-color: #fff;
    color: #343a40;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    min-width: 250px;
    position: absolute;
    right: 0;
    top: 120%;
    z-index: 1;
    visibility:hidden;
    opacity:0;
    transition:visibility 0s linear 0.2s, opacity 0.2s linear;
  }
  
  .msg-dropdown:hover .msg-dropdown-content {
    visibility:visible;
    opacity:1;
  }
  
  .msg {
    padding: 10px 10px;
    display: flex;
    align-items: stretch;
    gap: 18px;
  }
  
  .msg-sender {
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: start;
  }
  
  .msg-sender-img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
  }
  
  .msg-sender-name {
    font-size: 14px;
    width: 60px;
  }

  .msg-text{
    font-size: 14px;
    align-items: stretch;
    margin-left: 15px;
  }

  .user {
    display: flex;
    align-items: center;
    gap: 18px;
  }
  
  .profile-dropdown {
    height: 36px;
    width: 40px;
    position: relative;
    
  }
  
  .profile-dropdown-content {
    background-color: #fff;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    min-width: 160px;
    position: absolute;
    top: 120%;
    right: 0;
    z-index: 1;
    visibility:hidden;
    opacity:0;
    transition:visibility 0s linear 0.1s, opacity 0.1s linear;
  }
  
  .profile-dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .profile-dropdown:hover .profile-dropdown-content {
    visibility:visible;
    opacity:1;
  }
  
  .btn-profile {
    height: 36px;
    width: 120px;
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: space-evenly;
  }
  
  .btn-profile:hover,
  .btn-profile:active {
    box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.1);
  }
  
  .img-user {
    height: 100%;
    border-radius: 50%;
  }

  .user-name {
    font-size: 16px;
    color: #fff;
    margin: auto;
  }
  
  /*main*/
  
  .main {
    
    padding: 24px;
    grid-column: 2;
    grid-row: 1;
  
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  
  .main-heading {
    margin-bottom: 32px;
  }
  
/*table zone*/

  .btn--add-student {
    width: 36px;
    height: 36px;
    font-size: 18px;
    margin-bottom: 18px;
    background-color: transparent;
    border-color: #343a40;
  
    align-self: flex-end;
  }
  
  .btn--add-student:hover,
  .btn--add-student:active {
    background-color: rgba(0, 0, 0, 0.1);
  }
  
  /*student window*/

  .student-window {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s;
  }
  
  .student-window.opened {
    visibility: visible;
    opacity: 1;
  }
  
  .student-window-content {
    border-radius: 4px;
    position: relative;
    width: 500px;
    max-width: 90%;
    background-color: #fff;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 32px 24px;
  }
  
  .student-window-header {
    margin-bottom: 32px;
  
    display: flex;
    justify-content: space-between;
  }

  .btn--close-student-window {
    width: 24px;
    height: 24px;
    font-size: 12px;
    background-color: transparent;
    border-color: #343a40;
  }
  
  .btn--close-student-window:hover,
  .btn--close-student-window:active {
    background-color: rgba(0, 0, 0, 0.1);
  }
  
  .student-form {
    display: flex;
    flex-direction: column;
    gap: 18px;
  }
  
  .student-input-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  
  .student-input {
    font-size: 16px;
    padding: 12px 16px;
  }
  
  .form-buttons {
    display: flex;
    justify-content: center;
    gap: 18px;
  }
  
  .btn--form {
    background-color: transparent;
    border: 2px solid #343a40;
    font-size: 16px;
    padding: 8px 16px;
  }
  
  .btn--form:hover,
  .btn--form:active {
    background-color: rgba(0, 0, 0, 0.1);
  }
  
  /*close student window*/
  
  .delete-student-window {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s;
  }
  
  .delete-student-window.opened {
    visibility: visible;
    opacity: 1;
  }
  
  .delete-student-window-content {
    border-radius: 4px;
    position: relative;
    width: 500px;
    max-width: 90%;
    background-color: #fff;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 32px 24px;
  }
  
  .delete-student-header {
    margin-bottom: 32px;
  
    display: flex;
    justify-content: space-between;
  }
  
  .delete-student-text {
    margin-bottom: 42px;
  }
  
  /*table*/
  
  table,
  th,
  td {
    border: 2px solid #343a40;
    border-collapse: collapse;
  }
  
  table {
    width: 100%;
  }
  
  table.fixed {
    table-layout:fixed;
  }
  th,
  td {
    height: 70px;
    padding: 12px;
    overflow: hidden;
  }
  
  .table-content td:first-child {
    text-align: center;
  }
  
  .checkbox-status {
    width: 100%;
  }

  .option-buttons {
    display: flex;
    justify-content: center;
    gap: 12px;
  }
  
  .btn--edit,
  .btn--delete {
    background-color: transparent;
    border: 2px solid #343a40;
    height: 32px;
    width: 32px;
  
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .btn--edit:hover,
  .btn--delete:hover,
  .btn--edit:active,
  .btn--delete:active {
    background-color: rgba(0, 0, 0, 0.1);
  }
  
  .option-icon {
    width: 24px;
    height: 24px;
  }
  
  .status-indicator {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background-color: #868e96;
    margin: 0 auto;
  }
  
  .status-indicator.active {
    background-color: #37b24d;
  }
  
  /*pagination*/
  
  .pagination {
    margin-top: 40px;
    align-self: center;
  
    display: flex;
    gap: 18px;
  }
  
  .page-link:link,
  .page-link:visited {
    color: #343a40;
    background-color: transparent;
    border: 2px solid #343a40;
    width: 36px;
    height: 36px;
    text-decoration: none;
  
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .page-link:hover,
  .page-link:active {
    background-color: rgba(0, 0, 0, 0.1);
  }
  
  /*side menu*/
  
  .aside {
    
    padding: 24px;
    grid-column: 1;
    grid-row: 1;
  }
  
  .navigation {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  
  .nav-link:link,
  .nav-link:visited {
    display: block;
    color: #343a40;
    text-decoration: none;
  }
  
  .nav-link.current:link,
  .nav-link.current:visited {
    font-weight: 600;
  }
  